<!-- Test report area - driven by QUnit framework -->
<a name="tResult"></a>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<!-- Test case editing area -->
<a name="divEdit"></a>
<h2>Test cases</h2>
<div id="txtReport" style="border:1px solid silver; background:#eeeeee; border-radius:3px; width: 785px; height: 1.5em; margin-bottom: 1em; padding-left:1em;"></div>
<div style="text-align: right; margin-bottom:5px; padding-bottom:5px;">
    <button id="btnSaveTests" style="width:7em;">Save</button>
    <span style="width: 2em;">&nbsp;</span>
    <button id="btnRunAll" style="width:7em;">Run all</button>
</div>
<div>
    <textarea id="txtCases" placeholder="Test corpus here..." style="min-height:10em; max-width:795px; width:795px;"></textarea>
</div>
<h3>Re: Test cases...</h3>
<ul>
    <li>Test cases will be stored in the browser's localStorage. If the test case area is empty, copy and paste the default set 
    <a href="#defTCase">below</a>, then click Save.</li>
    <li>All test cases must be written in valid JSON format. Note: All keys must be enclosed in quotes!</li>
    <li>The whole test case corpus is written as a single array, with each element being one test case.</li>
    <li>
        <div>Each test case must be written as a valid JSON descriptor. Format of descriptor:</div>
<pre>{
    "title":                {String},
    "program":              {String}
    "expectedResult":       {Object} | {primitive}
    "expectToFail:          {boolean}
}</pre>
        <div>
            Elements denote:
            <dl>
                <dt><code>title</code></dt>
                    <dd>Descriptive title, will appear next to the test result in the <a href="#tResult">test result list</a>.</dd>
            </dl>
            <dl>
                <dt><code>program</code></dt>
                    <dd>The MAL program we are testing the parser with.</dd>
            </dl>
            <dl>
                <dt><code>expectedResult</code></dt>
                    <dd>The expected result. Will be ignored if <code>expectToFail</code> is <code>true</code>.</dd>
            </dl>
            <dl>
                <dt><code>expectToFail</code></dt>
                    <dd>If <code>true</code> we expect the parsing step to fail ( e.g. <code>prg</code> has deliberate
                    syntax error(s) ), if <code>false</code> we expect the parsing step to be successfull and 
                    return <code>expectedResult</code>.</dd>
            </dl>
        </div>
    </li>
</ul>

<!-- 
    Default test corpus - e.g. useful when this page is loaded for the first time in a particular browser 
    and particular machine. Developers of this test bench are responsible to keep this default corpus up to date
    by editing the JSON code inside the textarea tag below. Bit crude... but it works, and it's not worth
    the time and effort to make it better.
-->
<a name="defTCase"></a>
<h2>Default test corpus</h2>
<div>
    ... If the text box in the <a href="#divEdit">editing area</a> is empty (or corrupted). 
    Copy and paste content below into the <a href="#divEdit">editing area</a>, then click "Save".
</div>
<div style="font-size:0.75em; font-style:italic;">
    Testbench developers: Please keep the default test corpus up to date, by editing the source code 
    of this page and re-committing to the SCM repo.
</div>
<textarea placeholder="Default test corpus here..." style="min-height:10em; max-width:795px; width:795px;">[
    {
        "title":             "a=0",
        "program":           "a=0",
        "expectedResult":    {"a":0},
        "expectToFail":      false
    },
    {
        "title":             "a=1",
        "program":           "a=1",
        "expectedResult":    {"a":1},
        "expectToFail":      false
    },
    {
        "title":             "a=10",
        "program":           "a=10",
        "expectedResult":    {"a":10},
        "expectToFail":      false
    },
    {
        "title":             "a=-0",
        "program":           "a=-0",
        "expectedResult":    {"a":0},
        "expectToFail":      false
    },
    {
        "title":             "a=-1",
        "program":           "a=-1",
        "expectedResult":    {"a":-1},
        "expectToFail":      false
    },
    {
        "title":             "a=-10",
        "program":           "a=-10",
        "expectedResult":    {"a":-10},
        "expectToFail":      false
    },
    {
        "title":             "a=0x0",
        "program":           "a=0x0",
        "expectedResult":    {"a":0},
        "expectToFail":      false
    },
    {
        "title":             "a=0x1",
        "program":           "a=0x1",
        "expectedResult":    {"a":1},
        "expectToFail":      false
    },
    {
        "title":             "a=0x2",
        "program":           "a=0x2",
        "expectedResult":    {"a":2},
        "expectToFail":      false
    },
    {
        "title":             "a=0x4",
        "program":           "a=0x4",
        "expectedResult":    {"a":4},
        "expectToFail":      false
    },
    {
        "title":             "a=0xa",
        "program":           "a=0xa",
        "expectedResult":    {"a":10},
        "expectToFail":      false
    },
    {
        "title":             "a=0xA",
        "program":           "a=0xA",
        "expectedResult":    {"a":10},
        "expectToFail":      false
    },
    {
        "title":             "a=0x10",
        "program":           "a=0x10",
        "expectedResult":    {"a":16},
        "expectToFail":      false
    },

    {
        "title":             "a=3+1",
        "program":           "a=3+1",
        "expectedResult":    {"a":4},
        "expectToFail":      false
    }
]</textarea>

<!-- Scripting: QUnit framework -->
<script src="/vendor/qunit/qunit-2.0.1.js"></script>

<!-- Custom scripts -->
<script>
var gResults = [];
(function ()
{
    /* GUI elements */
    var btnRunAll       = document.getElementById ("btnRunAll");
    var btnSaveTests    = document.getElementById ("btnSaveTests");
    var txtReport       = document.getElementById ("txtReport");
    var txtCases        = document.getElementById ("txtCases");
    
    var srcTests;       /* Current test corpus (Source)                     */
    var objParser;      /* Parser as created from the work bench            */
    var objTests;       /* Current test corpus (As JS objects)              */
    
    /**
     * Event handler: Upon changing content in the editing area.
     */
    var onChangeTestCases = function ()
    {
        /* Just enable Save button. */
        btnSaveTests.disabled = false;
    };

    /**
     * Event handler: Upon loading this page.
     */
    var onLoadPage = function ()
    {
        var records;
        var head;
        var styleElement;
        var parserSource;
        
        /* Load QUnit style sheet. */
        styleElement                = window.document.createElement ("link");
        styleElement.rel            = "stylesheet";
        styleElement.type           = "text/css";
        styleElement.href           = "/vendor/qunit/qunit-2.0.1.css"
        head                        = document.getElementsByTagName('head')[0];
        head.appendChild (styleElement);
        
        /* Create parser object from local storage. */
        parserSource = localStorage.getItem ("mal.parserSource");
        objParser    = eval (parserSource);
        
        /* Retrieve test case corpus from local storage. */
        srcTests = localStorage.getItem ("mal.testcases");
        if (srcTests != null)
        {
            try
            {
                objTests = JSON.parse (srcTests);
            }
            catch (e)
            {
                objTests = [];
                srcTests = "";
            }
            txtCases.value  = srcTests;
        }
        
        /* Event handlers for various GUI elements. */
        txtCases.onkeyup        = onChangeTestCases;
        txtCases.onkeydown      = function (e)
        {
            if (e.keyCode === 9)
            {
                /* Capture TAB key and make it insert 4 spaces at caret position    */
                /*     Courtesy: http://stackoverflow.com/a/6140696.                */
                var sEnd;
                var sStart;
                var value;
                
                /* Retrieve caret position and code in edit area. */
                sStart                      = txtCases.selectionStart;
                sEnd                        = txtCases.selectionEnd;
                value                       = txtCases.value;
                
                /* Insert four spaces at caret position. */
                value                       = value.substring (0, sStart) +
                                            "    " +
                                            value.substring (sEnd);
                txtCases.value              = value;
                
                /* Offset caret position by four characters. */
                txtCases.selectionEnd       = sStart + 4;
                txtCases.selectionStart     = txtCases.selectionEnd;
                
                /* Prevent focus blur. */
                e.preventDefault ();
            }
        }
        btnSaveTests.onclick    = SaveCorpus;
        btnRunAll.onclick       = RunTests;
        
        /* Report successfull loading. */
        PrintReport ("Page loaded", false, 1000);
        
        /* Run tests. */
        RunTests ();
        
        /* Start auto save loop. */
        onTimerTick ();
    };

    /**
     * Autosave loop.
     */
    var onTimerTick = function ()
    {
        SaveCorpus ();
        window.setTimeout (onTimerTick, 30000);
    }
    
    /**
     * Print message in the report bar above the test case editing area.
     *
     * @param string    msg         The message to print.
     * @param boolean   isError     If true, treat this message as an error message. If false, treat it as a normal message.
     * @param number    delay       Time (in ms) until report bar will clear. Values below 500 (0.5 s): Never clear area 
     *                              (message is persistent until next time this function is called).
     */
    var PrintReport = function (msg, isError, delay)
    {
        var bkgCol;
        
        bkgCol = isError  ?  "#ffeeee" : "#eeffee";
        txtReport.style.backgroundColor = bkgCol;
        txtReport.innerHTML = "<span>" + msg + "</span>";
        if (delay >= 500)
        {
            window.setTimeout 
            (
                function ()
                {
                    txtReport.style.backgroundColor = "#eeeeee";
                    txtReport.innerHTML = "";
                },
                delay
            );
        }
    }

    /**
     * Run the current test corpus.
     */
    var RunTests = function ()
    {
        var i;
        var nTests;
        var p;
        var r;
        var t;
        var src;
        var callbacks;
                        
        callbacks       = [];
        nTests          = objTests.length;
        if (nTests >= 1)
        {
            for (i = 0; i < nTests; i++)
            {
                /* Create result record of i-th test. */
                t = objTests[i];
                p = t.program;
                try
                {
                    r           = objParser.parse (p);
                    gResults[i] =
                    {
                        title:          t.title,
                        prg:            p,
                        exp:            t.expectedResult,
                        expFail:        t.expectToFail,
                        result:         r,
                        hasFailed:      false
                    }
                }
                catch (e)
                {
                    gResults[i] =
                    {
                        title:          t.title,
                        prg:            p,
                        exp:            t.expectedResult,
                        expFail:        t.expectToFail,
                        result:         null,
                        hasFailed:      true
                    }
                }
                
                /* Create test callback. 
                 * Note: JS scopes are function-level, not block-level - i.e. we can't simply use 
                 *       the for loop counter inside a function closure. We create a function with 
                 *       index i hardcoded into it. Otherwise, all tests will run with the last test case 
                 *       as that one is within the function's lexical scope when the tests are performed.
                 *       With the result that all but the last test result will be wrong.
                 */
                 src =
                    "var r = gResults [" + i + "];"                                                                         + "\n" +
                    "if (r.expFail)"                                                                                        + "\n" +
                    "{"                                                                                                     + "\n" +
                    "    assert.ok           (r.hasFailed, \"Did parsing FAIL as expected?\")"                              + "\n" +
                    "}"                                                                                                     + "\n" +
                    "else"                                                                                                  + "\n" +
                    "{"                                                                                                     + "\n" +
                    "    assert.notOk        (r.hasFailed, \"Did parsing SUCCEED as expected?\");"                          + "\n" +
                    "    assert.deepEqual    (r.result, r.exp, \"Did the parser return the expected value?\");"             + "\n" +
                    "}"
                callbacks[i] = new Function ("assert", src);
            }
            
            /* Run tests */
            for (i = 0; i < nTests; i++)
            {
                t = objTests [i];
                QUnit.test (t.title, callbacks[i]);
            }
        }
    };
    
    /**
     * Save current test corpus. This will save a verbatim copy of the content of 
     * the editing area in the browser's localStorage - provided that the content 
     * has changed since last save and that it is valid JSON data.
     */
    var SaveCorpus = function ()
    {
        var txtCases;
        var srcNew;
        var objRec;
        
        /* Retrieve source code from editing area. */
        txtCases = document.getElementById ("txtCases");
        srcNew  = txtCases.value;
        
        /* Save source code (We will save source code if it is different from current test corpus). */
        if (srcNew !== srcTests)
        {   
            /* We save source code if it is valid JSON data. */
            try
            {
                /* Create JS Object from source code. */
                objRec = JSON.parse (srcTests);
                
                /* We survived JSON parsing - i.e. test cases are valid JSON. 
                 * Now we can commit source code as new (current) test corpus.
                 */
                srcTests = srcNew;
                objTests = objRec;
                localStorage.setItem ("mal.testcases", srcTests);
                
                /* Report success in the report bar above the edit area - message will auto clear after 1s. */
                PrintReport ("Test cases saved", false, 1000);
            }
            catch (e)
            {
                /* JSON parsing failed, i.e. source code is not valid JSON data. 
                 * We report failure in the report bar - message will show persistently 
                 * until next save attempt.
                 */
                PrintReport ("Faulty JSON data. (Auto) save aborted. Details: " + e.message, true, 0);
            }
        }
        else
        {
            /* No changes in editing area detected. */
            PrintReport ("Nothing to save", false, 1000);
        }
        btnSaveTests.disabled = true;
    }
    
    onLoadPage ();
})();
</script>