<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="/vendor/qunit/qunit-2.0.1.js"></script>
<script>
var main = (function ()
{
    var head;
    var styleElement;
    
    styleElement                = window.document.createElement ("link");
    styleElement.rel            = "stylesheet";
    styleElement.type           = "text/css";
    styleElement.href           = "/vendor/qunit/qunit-2.0.1.css"
    head                        = document.getElementsByTagName('head')[0];
    head.appendChild (styleElement);
    
    QUnit.test ("dummy test", function (assert)
    {
        assert.ok (1 == "1", "Dummy test: Passed!");
    });
})();
</script>